.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
	border-bottom:none ! important;
}

.modal-footer {
padding: 0;
 border-top:none ! important;
 text-align: center ! important;
}

    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
.header-popup{
padding: 20px 20px 0px 15px;
}

#input-name{ 
background:url(../img/user.png) no-repeat #FFF;
background-size: 20px;
background-position: 6px 7px;
}
#input-mail{ 
background:url(../img/email.png) no-repeat #FFF;
background-size: 20px;
background-position: 6px 7px;
}
#input-phone{ 
background:url(../img/phone-call.png) no-repeat #FFF;
background-size: 20px;
background-position: 6px 7px;
}
#input-message{ 
background:url(../img/chat.png) no-repeat #FFF;
background-size: 20px;
background-position: 6px 7px;
}

input[type=text] .placehold{ border:none;}
.placehold {
padding-top: 5px !important;
padding-left: 40px !important;
}
.placehold-text {
	padding-left: 41px !important; 

}
.modal-dialog {
    width: 70% !important; 
    margin: 115px auto !important; 

}
.modal-content {
	background: url(../img/popup.png);
padding-left: 11%;
padding-right: 11%;
background-position: 48% 30%;
}
.modal-title {
    color: white;
    font-family: Sakkal Majalla;
    font-size: 65px;
	line-height: 65px ! important;
}
.modal-title2 {
    font-family: Sakkal Majalla;
    font-size: 45px;
    color: white;
}
.modal-header .close {
    font-size: 45px ! important;
}
#social {
	width:35px;
	
}
#social:before{
	width:35px;
	margin-left:20px;
}

.modal-body {
    margin-bottom: 60px;
	border-bottom: none  ! important;
}

.btn-sender{
background-color:black;
color:white;
padding: 10px 47px 10px 45px;
border: none;	
}
.form-control {
    height: 45px ! important;
  
}
@media screen and (max-width:359px) {
.modal-title {
    font-size: 35px ! important;
	margin-top:50% ! important;
	text-align:center ! important;
	line-height: 0 ! important;
}
.modal-title2 {
    font-size:22px;
	text-align:center;

}
.btn-sender {
    padding: 10px 52px 10px 52px ! important;
}
.form-control {
    height: 50px !important;
}
#input-name {
    background-position: 7px 13px !important;
}
#input-mail {
 background-position: 7px 13px !important;
}
#input-phone {
  background-position: 7px 13px !important;
}
#input-message {
  background-position: 7px 13px !important;
}
.modal-content {

    background-position: 50% 50% !important;
}
}
@media screen and (min-width:360px) and (max-width:365px) {
.modal-title {
    font-size: 29px ! important;
    margin: 34px ! important;
 
}

.modal-title2 {
    font-size:22px ! important;
	text-align:center ! important;

}
.btn-sender {
    padding: 10px 63px 10px 63px ! important;
} 
.modal-content {

    background-position: 50% !important;
}
}
